.statusBadge {
  transition: color 150ms ease-in-out, background 150ms ease-in-out;

  @media (max-width: $breakpoint) {
    text-align: center;
    width: 100%;
  }
}

.pending {
  color: $orange-500;
  background: $orange-50;
}

.closed {
  color: $teal-500;
  background: $teal-50;
}
