@import-normalize;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell,
    Ubuntu, roboto, noto, arial, sans-serif;
}

body {
  color: $blue-grey-900;
  line-height: 1.5;
  background: $indigo-50;
}

a {
  color: inherit;
  text-decoration: none;
}
