.pageHeader {
  margin: 2rem 0;
}

.title {
  padding: 2rem 0;
  font-weight: 900;
}

.filters {
  display: flex;
  gap: 1rem;

  button {
    background: $white;
    border-radius: 12px;
    border: 0;
    padding: 1rem;
  }
}
