.pageHeader {
  // border-bottom: 1px solid #cfd8dc;
  margin: 2rem 0;
}

.title {
  padding: 2rem 0;
  font-weight: 900;
}

.filters {
  display: flex;
  gap: 1rem;

  button {
    background: #fff;
    border-radius: 12px;
    border: 0;
    padding: 1rem;
  }
}