.updateStatusButton {
  padding: 0.5rem 1.25rem;
  color: $indigo-500;
  background: $indigo-50;
  gap: 0.5rem;

  &:hover {
    color: $white;
    background: $indigo-500;
  }

  @media (max-width: $breakpoint) {
    justify-content: center;
    width: 100%;
  }
}
